.App {
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  width: 100%;
  text-align: left;
  padding: 5px;
  margin: 5px 0px;
  border-bottom: 0.5px solid #eff0f2;
}

.item:hover {
  background-color: #eff0f2;
}

.item-header {
  margin: 0px;
  font-size: 14px;
}

.item-attribute {
  margin: 3px 0px;
  font-size: 11px;
}

.searchfield {
  width: 100%;
  margin: 0px !important;
}
